.app-town {
    display: flex;
    height: 100vh;
    position: relative;
}

.app-town .app-pixi {
    flex: 1;
}

.app-town .app-chat {
    height: 100%;
    margin: 30px;
}

.app-town .app-room {
    flex: 1;
    height: 100%;
}

#overlay {
    position: absolute;
    width: 20%;
    height: 100vh; 
    top: 0;
    right: 0;

    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }
